{% set establishmentAdminPage   = establishmentAdminPage is defined and establishmentAdminPage %}
{% set searchPage               = searchPage is defined and searchPage %}

<h3>{{ userEstablishment.name }}</h3>

{% if userEstablishment.phone %}
    <p><i class="fas fa-phone"></i> {{ userEstablishment.phone }}</p>
{% endif %}
{% if userEstablishment.website %}
    <p><i class="fab fa-internet-explorer"></i> <a href="{{ userEstablishment.website }}">{{ userEstablishment.website }}</a></p>
{% endif %}
{% if userEstablishment.address %}
    <p><i class="fas fa-map-marked"></i> {{ userEstablishment.address }} {{ userEstablishment.postalCode }} {{ userEstablishment.city }}</p>
{% endif %}

{% if userEstablishment.openingHours is empty %}

    {% if establishmentAdminPage %}
        <div class="centered">
            <p>Vous n'avez pas encore défini d'horaires d'ouverture</p>
            <a href="{{ url('opening-hours') }}"><button class="btn btn-primary">Ajouter horaire d'ouverture</button></a>
        </div>
    {% else %}
        <p><i class="fas fa-door-open"></i> Pas encore d'horaires d'ouverture renseignés </p>
    {% endif %}

{% else %}

    <i class="fas fa-door-open"></i> Horaire d'ouverture
    {% if establishmentAdminPage %}
        <a href="{{ url('opening-hours') }}"> <i class="fas fa-pencil-alt"></i> Modifier</a>
    {% endif %}

    <ul style="list-style: none;">
        {% for index, openingInfo in establishementOpeningHours %}
            <li>{{ openingInfo.day }} {{ openingInfo.sentence }}</li>
        {% endfor %}
    </ul>

{% endif %}

{% if establishmentAdminPage %}
    <div class="col-md-3 col-md-offset-10">
        <a href="{{ url('establishment') }}"> <button class="btn btn-danger">Modifier</button> </a>
    </div>
{% endif %}

{% if searchPage %}
    <p class="col-md-offset-6">
        <a href="#" class="btn btn-primary" role="button">Voir établissement</a>
    </p>
{% endif %}