<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        {% for day in establishment.days %}
            <th scope="col" id="{{ day.id }}">{{ day.name }}</th>
        {% endfor %}

    </tr>
    </thead>
    <tbody class="js-book__selectable">

        {% for day in establishment.days %}
            <tr class="">{% for day in establishment.days %}
            {% for hour in day.hours %}


                {% if  hour.day.id == day.id%}



                        <th scope="row" class="col-sm-1">{{ hour.beginHour }}h - {{ hour.endHour }}h</th>

                        {% if not hour.isInEstablishmentOpeningHour and not openingHourPage %}

                            {% set classForCrenel = "cell-unselectable" %}

                        {% elseif hour.isInEstablishmentOpeningHour and openingHourPage %}

                            {% set classForCrenel = "table-success js-book_unselectable_item js-book_selected" %}

                        {% else %}

                            {% set classForCrenel = "js-book_selectable_item" %}

                        {% endif %}

                        <td class="col-sm-1 {{ classForCrenel }}" data-day="{{ hour.day.id }}" data-crenel_begin_hour="{{ hour.beginHour }}"> {{ day.id  }}</td>



                {% endif %}

            {% endfor %}
            </tr>

        {% endfor %}

    </tbody>
</table>