{% extends 'layout/layout' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel panel-heading"> Information établissement </div>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action="#">

                            {{ csrf_field() }}

                            <div class="form-group{% if errors.has('name') %}has-error{% endif %}">
                                <label for="name" class="col-md-4 control-label">Nom</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" value="{% if name %}{{ name }}{% endif %}" required autofocus>
                                    {% if errors.has('name')%}
                                        <span class="help-block">
                                        <strong>{{ errors.first('name') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group{% if errors.has('phone') %}has-error{% endif %}">
                                <label for="phone" class="col-md-4 control-label">Téléphone</label>

                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="phone" value="{% if phone %}{{ phone }}{% endif %}" required autofocus>
                                    {% if errors.has('phone')%}
                                        <span class="help-block">
                                        <strong>{{ errors.first('phone') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group {% if errors.has('address') %}has-error{% endif %}">
                                <label for="address" class="col-md-4 control-label">Nom et numéro de Rue</label>

                                <div class="col-md-6">
                                    <input id="address" type="text" class="form-control" name="address" value="{% if address %}{{ address }}{% endif %}" required autofocus>
                                    {% if errors.has('address')%}
                                        <span class="help-block">
                                        <strong>{{ errors.first('address') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group {% if errors.has('postalCode') %}has-error{% endif %}">
                                <label for="postalCode" class="col-md-4 control-label">Code postal</label>

                                <div class="col-md-6">
                                    <input id="postalCode" type="text" class="form-control" name="postalCode" value="{% if postalCode %}{{ postalCode }}{% endif %}" required autofocus>
                                    {% if errors.has('postalCode')%}
                                        <span class="help-block">
                                        <strong>{{ errors.first('postalCode') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group {% if errors.has('city') %}has-error{% endif %}">
                                <label for="city" class="col-md-4 control-label">Ville</label>

                                <div class="col-md-6">
                                    <input id="city" type="text" class="form-control" name="city" value="{% if city %}{{ city }}{% endif %}" required autofocus>
                                    {% if errors.has('city')%}
                                        <span class="help-block">
                                        <strong>{{ errors.first('city') }}</strong>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        Créer établissement
                                    </button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}