{% extends 'layout/layout.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-8">
                            <h2>Bonjour {{ app.user.firstname }}</h2>

                            <br/>

                            {% if establishmentParameters is not empty %}

                                <form class="form-horizontal" method="POST" action="{{ url('apply-parameter') }}" name="ground">

                                    {% for parameter in establishmentParameters %}

                                        <div class="form-group">
                                            <div class="col-md-10">
                                                {{ parameter.description }}
                                            </div>
                                            <div class="col-md-2">
                                                <label class="input-toggle">
                                                    <input type="hidden" name="parameters[{{ parameter.name }}]" value="0" />
                                                    <input type="checkbox" name="parameters[{{ parameter.name }}]" value="1" {% if parameter.value %} checked {% endif %}>
                                                    <span></span>
                                                </label>

                                            </div>

                                        </div>

                                    {% endfor %}

                                    <div class="col-md-4 col-md-offset-9">
                                        <a href="{{ url('ground') }}"><button class="btn btn-primary">Appliquer</button></a>
                                    </div>
                                </form>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel panel-heading"> Information établissement </div>
                    <div class="panel-body">
                        {% if not userEstablishment %}
                            <div class="centered">
                                <p>Vous n'avez pas encore défini votre établissement</p>
                                <a href="{{ url('establishment') }}"><button class="btn btn-primary">Créer mon établissement</button></a>
                            </div>
                        {% else %}

                            {% include 'user/commons/establishment-information.twig' with {
                                'establishmentAdminPage'        : 1,
                                'userEstablishment'             : userEstablishment,
                                'establishementOpeningHours'    : establishementOpeningHours,
                            } %}

                        {% endif %}
                    </div>
                </div>
            </div>

            {% if userEstablishment %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"> Mes terrains de sports</div>
                        <div class="panel-body">
                            {% if groundsPerSport is not empty %}
                                {% for sport, grounds in groundsPerSport %}

                                   <div class="card col-md-6">
                                        <div class="card-header">
                                            <h4>{{ sport }}</h4>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            {% for ground in grounds %}
                                                <li class="list-group-item">Terrain {{ ground.number }} {% if ground.type %}({{ ground.type }}){% endif %} <a href="{{ url('remove-ground', {groundId : ground.id}) }}"><i class="fas fa-times"></i></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                {% endfor %}
                            {% else %}
                                <div>Vous n'avez pas encore ajouté de terrain à votre établissement</div>
                            {% endif %}

                            <div class="col-md-4 col-md-offset-9">
                                <a href="{{ url('ground') }}"><button class="btn btn-primary">Créer un terrain</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if userEstablishment %}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"> Réservations en attente </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            {% endif %}

            {% if userEstablishment %}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"> Historique des réservations </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}