{% extends 'layout/layout.twig' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Bonjour {{ app.user.firstname }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel panel-heading"> Information établissement </div>
                    <div class="panel-body">
                        {% if not userEstablishment %}
                            <div class="centered">
                                <p>Vous n'avez pas encore défini votre établissement</p>
                                <a href="{{ url('establishment') }}"><button class="btn btn-primary">Créer mon établissement</button></a>
                            </div>
                        {% else %}
                            <h3>{{ userEstablishment.name }}</h3>

                            <p><i class="fas fa-phone"></i> {{ userEstablishment.phone }}</p>
                            <p><i class="fas fa-map-marked"></i> {{ userEstablishment.address }} {{ userEstablishment.postalCode }} {{ userEstablishment.city }}</p>
                            <p><i class="fas fa-door-open"></i> {{ userEstablishment.openingHours }}</p>

                            <div class="col-md-3 col-md-offset-10">
                                <a href="{{ url('establishment') }}"> <button class="btn btn-danger">Modifier</button> </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if userEstablishment %}
                <div class="col-md-6">
                    <div class="panel panel-dafault">
                        <div class="panel panel-heading"> Mes terrains de sports</div>
                        <div class="panel-body">
                            {% if groundsPerSport is not empty %}
                                {% for sport, grounds in groundsPerSport %}

                                    <div class="card">
                                        <div class="card-header">
                                            {{ sport }}
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            {% for ground in grounds %}
                                                <li class="list-group-item">Terrain {{ ground.number }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>Vous n'avez pas encore ajouté de sports a votre établissement</p>
                            {% endif %}

                            <div class="centered">
                                <a href="{{ url('ground') }}"><button class="btn btn-primary">Créer un terrain</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-md-12">
                <div class="panel panel-dafault">
                    <div class="panel panel-heading"> Historique des réservations </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}